@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan Script');

h2 {
	font-size: 3rem;
	color: rgb(0, 67, 168);
	text-shadow: 2px 1px rgb(211, 211, 211);
	padding: 5px 0;
}

p {
	font-size: 1.1rem;
}

.pageContainer {
	font-family: 'Kaushan Script';
	font-weight: 300;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.codeBorder {
	color: rgba(235, 235, 235);
	border: 1px solid black;
	background: #555;
	margin-top: 110px;
	padding: 5px 0;
	width: 100vw;
}

.aboutMe {
	width: 70%;
}

.aboutMe span {
	text-decoration: underline;
	font-size: 1.8rem;
	text-shadow: 1px 1px rgb(211, 211, 211);
}

.port {
	margin-bottom: 150px;
}

.skills {
	background: #fff;
	border: 1px solid rgb(211, 211, 211);
	box-shadow: 2px 1px 5px #000;
	margin: 50px 0 150px 0;
	width: 1200px;
	height: 600px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.pageContainer img {
	width: 100%;
	height: 100vh;
	position: absolute;
}

.portfolio {
	position: relative;
}
.portfolio img {
	opacity: 0.1;
	width: auto;
	height: 100%;
	position: absolute;
	left: 0;
}

.portfolio .portImg {
	opacity: 0.1;
	width: auto;
	height: 100%;
	position: absolute;
	width: 100vw;
}

.languages {
	height: 70px;
	background: rgba(235, 235, 235);
	border: 1px solid #555;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.icon {
	display: inline;
	margin: auto 25px;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.topInput {
	margin: 0 20px;
	padding: 10px 5px;
	width: 300px;
	text-align: start;
}

.bottomInput {
	margin: 20px 0;
	padding: 10px 5px;
	width: 645px;
	text-align: start;
}

.messageInput {
	padding: 20px 10px;
	width: 645px;
	height: 200px;
	text-align: start;
}

button {
	background: rgb(0, 67, 168);
	border: 1px solid black;
	color: #fff;
	text-shadow: 1px 1px #000;
	padding: 10px 30px;
	margin: 30px;
}

button:hover {
	cursor: pointer;
	background: rgb(0, 44, 110);
}

.portContainer {
	background: #ffffff;
	border: 1px solid rgb(211, 211, 211);
	box-shadow: 2px 1px 5px #000;
	width: 90%;
	position: relative;
}

.backdrops {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px;
}

.backdrops h2 {
}

.backdrop {
	background: #fff;
	background-size: 100%;
	border: 1px solid #000;
	box-shadow: 2px 1px 5px #000;
	margin: 25px;
	padding: 120px 70px;
	position: relative;
	height: 150px;
	width: 30%;
}

.backdrop .projectImg {
	position: absolute;
	top: 0;
	opacity: 1;
}

.backdrop h3 {
	color: #555;
	text-shadow: 1px 1px rgba(235, 235, 235);
	padding: 3px 10px;
	display: inline;
	text-decoration: underline;
	position: relative;
}

.backdrop p {
	width: 80%;
	margin: 10px auto;
	color: #fff;
	text-shadow: 1px 1px #000;
}

.backdrop a {
	background-color: rgb(0, 67, 168);
	border: 1px solid #000;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin: 15px;
	padding: 0 10px;
	text-shadow: 1px 1px #000;
	display: inline;
	position: relative;
}

.backdrop .description {
	background-color: #f0d91d;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px 0;
	width: 220px;
	position: absolute;
	left: 25%;
}

.backdrop a:hover {
	background-color: gray;
	color: #fff;
}

#projectTools {
	background: rgb(0, 67, 168);
	border: 1px solid #000;
	border-radius: 15px;
	color: #fff;
	padding: 15px 10px;
	margin: 10px auto;
	font-size: 1.6rem;
	width: 200px;
}

#projectTools a {
	color: #fff;
	margin: 0 10px;
}

#projectTools .github {
	background: #000;
	border-radius: 25px;
	cursor: pointer;
	margin: 0 10px;
}

/* portfolio styles */

.portHeader {
	padding: 20px 0;
	z-index: 1;
	margin-bottom: 20px;
	padding: 20px 50px;
	border-bottom: 1px solid #000;
}

.portHeader h2 {
	animation-name: slide;
	animation-direction: alternate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	font-weight: bold;
	margin: 0;
	color: #000;
	text-shadow: 2px 1px rgb(211, 211, 211);
	text-decoration: underline;
}

.portHeader p {
	color: #000;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
}

.projectDescription {
	text-align: left;
	width: 40%;
	margin-right: 10%;
}

.projectDescription h3 {
	color: rgb(0, 67, 168);
	text-shadow: 2px 1px rgb(211, 211, 211);
	font-size: 2rem;
}
